# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Streamlit cache
# .streamlit/

# Mac + system
.DS_Store
