# Core PyTorch
torch==2.5.1 #+cu121
torchaudio==2.5.1
# torchvision

# Coqui Stack (TTS is installed from GitHub, not PyPI)
TTS;python_version<"3.11"
trainer>=0.0.36;python_version<"3.11"
coqpit>=0.0.16;python_version<"3.11"
coqui-tts==0.27.0;python_version>="3.11" # up to date fork https://github.com/idiap/coqui-ai-TTS
coqui-tts-trainer==0.3.1;python_version>="3.11"
coqpit-config==0.2.1;python_version>="3.11"

# XTTS Dependencies
unidecode>=1.3.2
num2words>=0.5.12
spacy>=3.0.0 # for text processing
tokenizers>=0.13.0 # XTTSv2 finetuning often relies on a specific range
transformers==4.38.2

# General ML / Audio / Utility Dependencies
numpy>=1.24.0
scipy>=1.11.0
soundfile>=0.12.0
librosa>=0.10.0
tqdm>=4.64.1
pyyaml>=6.0
nltk>=3.8.0
datasets>=2.12.0  # For dataset handling
huggingface_hub>=0.27.0  # For model and dataset management


dataclasses


# Maltese Tokenizer
spacy
stanza
spacy-stanza
# masri

# --- Optional Dependencies ---
# For accelerated training/inference on NVIDIA GPUs
deepspeed

# For logging training progress
tensorboard

# For audio playback in Jupyter/IPython notebooks
ipython

# For faster downloading of datasets and models
hf_xet




# Potential other dependencies or fixes
# numpy==1.22.0;python_version<="3.10"
# numpy>=1.24.3;python_version>"3.10"
# cython>=0.29.30
# scipy>=1.11.2
# torch>=2.1
# torchaudio
# soundfile>=0.12.0
# librosa>=0.10.0
# scikit-learn>=1.3.0
# trainer>=0.0.36
# coqpit>=0.0.16
# transformers>=4.45.2
# encodec>=0.1.1
# unidecode>=1.3.2
# tokenizers==0.20.1
# torchtext>=0.15.2